$primary-color: #1b1b1b;
$secondary-color: #2c2c2c;
$warning-color: #F05866;
$warning-color-100: #EC454F;
$bs-blue: #0d6efd;
$white-color: #FFFFFF;
$grey-color: #808080;
$grey-color-30: #4C4C4D;
$grey-color-500: #F2F2F2;
$default-span-font-size: 1rem;
$default-p-font-size: 1rem;
$default-h1-font-size: 2.5rem;
$default-h2-font-size: 2rem;
$default-h3-font-size: 1.8rem;
$default-h4-font-size: 1.6rem;
$default-h5-font-size: 1.4rem;
$default-h6-font-size: 1.2rem;
$main-transition: 0.3s linear;
$main-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
$main-border: 1px solid #2c2c2c;