<article class="project-card" dir="ltr" [attr.data-project-name]="title"
    [class.opposite-border-side]="oppositeSideBorder">
    <div class="video-container">
        @if (isNavigationOnTheWebsite) {
        <video #videoPlayer autoplay loop [src]="videoSrc" type="video/mp4"></video>
        }

        @if(!isNavigationOnTheWebsite) {
        <figure>
            <img [src]="videoSrc" [alt]="title" [title]="title">
        </figure>
        }
    </div>

    <div class="project-content main-background">
        <div class="project-meta flex-column align-items-start">
            <div class="project-tags">
                <ul>
                    <li *ngFor="let tag of tags">
                        <span class="tag-icon">
                            <i [class]="getTagIcon(tag)"></i>
                        </span>
                        {{ tag }}
                    </li>
                </ul>
            </div>

            <div class="project-date">
                <i class="far fa-calendar-alt"></i>
                {{ date | date:'mediumDate' }}
            </div>
        </div>

        <h3 class="project-title">{{ title.length > 50 ? title.slice(0, 50) + '...' : title }}</h3>

        <p class="project-description" [innerHTML]="description"></p>

        <div class="project-actions flex-wrap">
            @if (isNavigationOnTheWebsite) {
            <button class="primary rounded-0 px-4 text-nowrap"
                [routerLink]="isNavigationOnTheWebsite ? projectUrl : null">
                {{ visitText }}
            </button>
            }

            @if (!isNavigationOnTheWebsite) {
            <a class="primary rounded-0 px-4 text-nowrap d-block" target="_blank"
                [href]="!isNavigationOnTheWebsite ? projectUrl : null">{{ visitText }}</a>

            <button class="btn-code rounded-0 px-4 text-nowrap"
                [routerLink]="project_demo">
                Project Brief
            </button>
            }


            <div class="social-share" *ngIf="showShare">
                <button *ngFor="let platform of sharePlatforms" [class]="'share-btn ' + platform"
                    (click)="shareProject(platform)">
                    <i [class]="'fab fa-' + platform"></i>
                </button>
            </div>
        </div>
    </div>
</article>