@import './../../../../assets/styles/layout';

aside {
    padding: 0.5rem 1rem;
}

h4 {
    font-size: 1.25rem;
    color: $white-color;
    text-align: center;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

li {
    color: $white-color;
    position: relative;
    width: fit-content;
    z-index: 2;

    a {
        position: relative;
        z-index: 2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        display: block;
        color: #fff;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -5px;
        height: 100%;
        width: 3%;
        background-color: $bs-blue;
        transition: $main-transition;
        z-index: 1;
    }
}

.li-showed {
    &::before {
        width: 103%;
    }
}