.app-grid {
    position: relative;
    background-color: var(--bg-void);
    background-image:
        repeating-linear-gradient(
            to bottom,
            var(--grid-line-1),
            var(--grid-line-1) 1px,
            transparent 1px,
            transparent 10px
        ),
        repeating-linear-gradient(
            to right,
            var(--grid-line-1),
            var(--grid-line-1) 1px,
            transparent 1px,
            transparent 10px
        ),
        repeating-linear-gradient(
            to bottom,
            var(--grid-line-2),
            var(--grid-line-2) 1px,
            transparent 1px,
            transparent 50px
        ),
        repeating-linear-gradient(
            to right,
            var(--grid-line-2),
            var(--grid-line-2) 1px,
            transparent 1px,
            transparent 50px
        ),
        radial-gradient(50% 50% at 50% 50%, var(--bg-lift) 0, var(--bg-void) 100%);
}
